In [45]:
import time as t
from lxml import html 
import requests

inputs = pd.read_csv('firm_data/inputs.csv', usecols=[1,2,3])
name = inputs['company_name'][0]
search_terms = inputs['search_terms'][0]
location = inputs['location'][0]

raw_data = pd.read_csv('firm_data/competitors.csv', 
                       usecols=[1, 2, 4, 6, 7, 8, 9])

data = raw_data.copy()
data

,alias,name,review_count,rating,price,distance,tags
0,las-catrinas-mexican-bar-and-eatery-astoria,Las Catrinas Mexican Bar & Eatery,301,4.0,2.000000,642.525771,Mexican Cocktail Bars 2.0
1,chanos-cantina-astoria,Chano's Cantina,165,4.0,2.000000,1290.427488,Cocktail Bars New Mexican Cuisine 2.0
2,maizal-restaurant-and-tequila-bar-astoria-2,Maizal Restaurant & Tequila Bar,295,4.0,2.000000,900.451091,Mexican Cocktail Bars 2.0
3,corazon-de-mexico-restaurant-and-bar-long-isla...,Corazon De Mexico Restaurant & Bar,54,4.0,2.000000,3761.460081,Mexican Cocktail Bars Venues & Event Spaces 2.0
4,la-chonas-astoria,La Chona's,15,3.5,1.822222,874.273703,Mexican Bars 1.8
5,two-lizards-mexican-bar-and-grill-new-york,Two Lizards Mexican Bar & Grill,462,3.5,2.000000,2815.273152,Mexican Bars 2.0

In [41]:
url = 'https://www.yelp.com/biz/' + data['alias'][0] + '?start=1'

html_page = requests.get(url) #Make a get request to retrieve the page
soup = BeautifulSoup(html_page.content, 'html.parser') #Pass the page contents to beautiful soup for parsing

In [40]:
pg_count = 'lemon--span__373c0__3997G text__373c0__2pB8f text-color--inherit__373c0__w_15m text-align--left__373c0__2pnx_'
num_pages = int(soup.find_all('span', class_=pg_count)[2].text[-2:])
num_pages

9

In [44]:
url[:-1] + str(num_pages*20-20)

'https://www.yelp.com/biz/chanos-cantina-astoria?start=160'